@model IEnumerable<ProductCatolog_Core.Models.Offers>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Offer Price</th>
            <th>Counter Price</th>
            <th>Product Count</th>
            <th>User Id</th>
            <th>Offer ID</th>
            <th>Created Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.OfferPrice</td>
                    <td>
                        <input type="number" class="form-control" value="@item.CounterPrice" data-id="@item.Id" id="counterPrice_@item.Id" />
                    </td>
                    <td>@item.ProductCount</td>
                    <td>@item.UserId</td>
                    <td>@item.Id</td>
                    <td>@item.CreatedDate.ToString("MM/dd/yyyy")</td>
                    <td>@item.Status</td>
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        <button type="button" class="btn btn-danger btn-sm" onclick="rejectOffer(@item.Id)">Reject Offer</button>
                    </td>
                </tr>
        }
    </tbody>
</table>

<script src="~/js/ContentManager/Offers/index.js" asp-append-version="true"></script>

