@using System.Globalization
@model ProductCatolog_Core.Models.Product

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/Product/_ProductCart.css" asp-append-version="true"/>
</head>

<div class="col-md-4 mb-4">
    <div class="product-card shadow-lg border rounded">
        <div class="product-image">
            <img src="~/img/@Model.ImageUrl" alt="@Model.Name" class="img-fluid">
        </div>
        <div class="product-info p-2 text-center">
            <h5 class="product-title fw-bold">@Model.Name</h5>
            <p class="product-price text-success fw-bold">@Model.Price.ToString("C", new CultureInfo("en-US"))</p>
            <div class="d-flex justify-content-between">
                <a asp-controller="Product" asp-action="GetById" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
                <form method="post" asp-controller="Cart" asp-action="AddToCart">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-cart-plus"></i> Add To Cart
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
