@model ProductCatolog_Core.Models.Article

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/Articles/details.css" asp-append-version="true"/>
</head>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-3 fw-bold text-dark">@Model.Name</h1>
            <p class="text-muted fs-5">
                <strong>Published on:</strong> @Model.CreatedDate.ToString("MMMM dd, yyyy")
            </p>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageUrl1))
    {
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8">
                <img src="~/img/@Model.ImageUrl1" alt="Blog Image" class="blog-img">
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h3 class="text-primary">Introduction</h3>
            <p>@Html.Raw(Model.Introduction)</p>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageUrl2))
    {
        <div class="row justify-content-center my-4">
            <div class="col-lg-6">
                <img src="~/img/@Model.ImageUrl2" alt="Blog Image" class="blog-img-sm">
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h3 class="text-success">Development</h3>
            <p>@Html.Raw(Model.Development)</p>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageUrl3))
    {
        <div class="row justify-content-center my-4">
            <div class="col-lg-6">
                <img src="~/img/@Model.ImageUrl3" alt="Blog Image" class="blog-img-sm">
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h3 class="text-danger">Conclusion</h3>
            <p>@Html.Raw(Model.Conclusion)</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <a asp-action="Index" asp-controller="Articles" class="btn btn-dark btn-lg">
                <i class="fas fa-arrow-left"></i> Back to Blogs
            </a>
        </div>
    </div>
</div>

