@using System.Globalization
@model IEnumerable<ProductCatolog_Core.Models.Product>

@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/ContentManager/Product/index.css" asp-append-version="true" />
</head>
<h1 class="text-center my-5">Welcome to the Product Catalog!</h1>

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="sidebar p-3 shadow">
                @await Component.InvokeAsync("Category")
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">

                @if (ViewData["NoProductsMessage"] != null)
                {
                    <div class="col-12">
                        <div class="alert alert-warning text-center shadow-sm">
                            @ViewData["NoProductsMessage"]
                        </div>
                    </div>
                }
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="product-card shadow-lg border rounded">
                            <img src="~/img/@item.ImageUrl" alt="Product Image" class="img-thumbnail" style="width: 400px; height: 400px;" />
                            <div class="product-info p-3">
                                <h5 class="product-title">@item.Name</h5>
                                <p class="product-summary text-muted">@item.Summary</p>
                                <p class="product-price text-success">@item.Price.ToString("C", new CultureInfo("en-US"))</p>
                                <div class="d-flex justify-content-between">
                                    <a href="@Url.Action("Detail", "Home", new { id = item.Id })" class="btn btn-primary">Details</a>
                                    <form method="post" action="@Url.Action("AddToCart", "Cart")">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <button type="submit" class="btn btn-success">Add To Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>