@{
    ViewData["Title"] = "Admin Dashboard";
}

<head>
    <link href="~/css/Admin/Layout/admin.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="row g-4">
        @foreach (var item in new[] {
        new { Controller = "Product", Action = "Index", Icon = "fas fa-box", Title = "Products", Count = ViewBag.ProductCount },
        new { Controller = "Category", Action = "Index", Icon = "fas fa-tags", Title = "Categories", Count = ViewBag.CategoryCount },
        new { Controller = "Articles", Action = "Index", Icon = "fas fa-file-alt", Title = "Articles", Count = ViewBag.ArticleCount },
        new { Controller = "Home", Action = "GetCustomers", Icon = "fas fa-users", Title = "Users", Count = ViewBag.UserCount },
        new { Controller = "Order", Action = "Index", Icon = "fas fa-shopping-cart", Title = "Orders", Count = ViewBag.OrderCount }
        })
        {
            <div class="col-md-4">
                <a asp-controller="@item.Controller" asp-action="@item.Action" class="text-decoration-none text-white">
                    <div class="dashboard-card">
                        <i class="@item.Icon dashboard-icon"></i>
                        <div class="dashboard-title">@item.Title</div>
                        <h3><b>@item.Count</b></h3>
                        <p>Total @item.Title</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
