@model IEnumerable<ProductCatolog_Core.Models.Questions>

@{
    ViewData["Title"] = "Questions Index";
}

<head>
    <link href="~/css/CustomerRelations/Questions/index.css" rel="stylesheet" />
</head>

<div class="container-fluid mt-4">
    <h1 class="text-primary mb-4"><i class="fa-solid fa-question-circle"></i> Questions Index</h1>

    <div class="mb-3">
        <a class="btn btn-success btn-lg" asp-action="Create">
            <i class="fa-solid fa-plus"></i> Create New Question
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h3 class="mt-4">Customer Questions</h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Question)</th>
                            <th>@Html.DisplayNameFor(model => model.Answer)</th>
                            <th>@Html.DisplayNameFor(model => model.QuestionStatus)</th>
                            <th>Question Type</th>
                            <th>@Html.DisplayNameFor(model => model.User.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(q => q.QuestionStatus == ProductCatolog_Core.Enums.QuestionStatus.Customer))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Question)</td>
                                <td class="answer-cell">@Html.DisplayFor(modelItem => item.Answer)</td>
                                <td>
                                    <span class="badge bg-info">Customer Question</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.QuestionType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td class="text-center">
                                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-edit"></i> Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12 mb-4">
            <h3 class="mt-4">Customer Relations Questions</h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Question)</th>
                            <th>@Html.DisplayNameFor(model => model.Answer)</th>
                            <th>@Html.DisplayNameFor(model => model.QuestionStatus)</th>
                            <th>Question Type</th>
                            <th>@Html.DisplayNameFor(model => model.User.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(q => q.QuestionStatus == ProductCatolog_Core.Enums.QuestionStatus.CustomerRelations))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Question)</td>
                                <td class="answer-cell">@Html.DisplayFor(modelItem => item.Answer)</td>
                                <td>
                                    <span class="badge bg-success">Customer Relations Question</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.QuestionType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td class="text-center">
                                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-edit"></i> Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/CustomerRelations/Questions/index.js" asp-append-version="true"></script>
}
